*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    font-family: sans-serif;
}
.box{
    height: 150px;
    width: 150px;
    background-color: #000;
    position: absolute;
    top: 10%;
    left: 5%;
    animation: animate 2s 2s infinite;
    animation-fill-mode: forwards;
}
.box:hover{
    animation-play-state: paused;
}
@keyframes animate{
    0%{
        width: 250px;
        background-color: tomato;
    }
    50%{
        width: 350px;
        background-color: dodgerblue;
    }
    100%{
        width: 450px;
        background-color: blueviolet;
    }
}
